## Data Understanding Python Notebook.

In [18]:
# Read data from sqllite database which has all the csv files dumped earlier.
import sqlite3
import pandas as pd
conn = sqlite3.connect("C:\Users\Amandeep\pluralsight.db")

user_assessment_scores = pd.read_sql_query("select * from user_assessment_scores;", conn)
user_course_views = pd.read_sql_query("select * from user_course_views;", conn)
course_tags = pd.read_sql_query("select * from course_tags;", conn)
user_interests = pd.read_sql_query("select * from user_interests;", conn)

# Close connection to sqlite
conn.close()

In [32]:
from IPython.display import display, HTML

print("User Assessments : Dims = " + str(user_assessment_scores.shape))
display(user_assessment_scores.head(4))
display(user_assessment_scores.tail(4))

print("\nUser Course Views : Dims = " + str(user_course_views.shape))
display(user_course_views.head(4))
display(user_course_views.tail(4))

print("\nCourse Tags : Dims = " + str(course_tags.shape))
display(course_tags.head(4))
display(course_tags.tail(4))

print("\nUser Interests : Dims = " + str(user_interests.shape))
display(user_interests.head(4))
display(user_interests.tail(4))

User Assessments : Dims = (6571, 4)

  user_handle assessment_tag user_assessment_date user_assessment_score
0        7487     angular-js  2017-08-11 19:03:38                   134
1        7487            css  2017-08-11 20:09:56                    38
2        7487          html5  2017-07-31 18:59:37                    84
3        7487           java  2017-07-31 18:49:27                   149

     user_handle assessment_tag user_assessment_date user_assessment_score
6567        8887     angular-js  2016-09-30 22:30:48                   221
6568        8887         docker  2017-03-24 17:55:06                   148
6569        8887          html5  2017-02-10 16:38:53                   241
6570        4440        c-sharp  2017-09-04 15:58:48                   126

User Course Views : Dims = (249238, 6)

,user_handle,view_date,course_id,author_handle,level,view_time_seconds
0,1,2017-06-27,cpt-sp2010-web-designers-branding-intro,875,Beginner,3786
1,1,2017-06-28,cpt-sp2010-web-designers-branding-intro,875,Beginner,1098
2,1,2017-06-28,cpt-sp2010-web-designers-css,875,Intermediate,4406
3,1,2017-07-27,cpt-sp2010-web-designers-css,875,Intermediate,553

,user_handle,view_date,course_id,author_handle,level,view_time_seconds
249234,9999,2017-10-14,python-getting-started,104,Beginner,1612
249235,10000,2017-08-18,apex-absolute-beginner-guide-coding-salesforce,229,Beginner,402
249236,10000,2017-08-21,apex-absolute-beginner-guide-coding-salesforce,229,Beginner,9500
249237,10000,2017-08-21,apex-fundamental-coding,229,Beginner,1659

Course Tags : Dims = (11337, 2)

                                        course_id       course_tags
0  12-principles-animation-toon-boom-harmony-1475      2d-animation
1              2d-racing-game-series-unity-5-1312       game-design
2             2d-racing-games-unity-volume-2-1286          game-art
3             2d-racing-games-unity-volume-2-1286  digital-painting

                                    course_id   course_tags
11333             z-os-mainframe-introduction     mainframe
11334  z-os-tso-ispf-environment-introduction     mainframe
11335            zsphere-modeling-zbrush-3505   3d-modeling
11336            zsphere-modeling-zbrush-3505  3d-sculpting

User Interests : Dims = (297526, 3)

  user_handle      interest_tag        date_followed
0           1   mvc-scaffolding  2017-06-27 16:26:52
1           1              mvc2  2017-06-27 16:26:52
2           1  mvc-html-helpers  2017-06-27 16:26:52
3           1          mvc4-ioc  2017-06-27 16:26:52

       user_handle interest_tag        date_followed
297522       10000   salesforce  2017-08-14 14:56:57
297523       10000          sql  2017-08-14 14:56:57
297524       10000         java  2017-08-14 14:56:57
297525       10000           c#  2017-08-14 14:56:57